{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "mental-capabilities"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Planning, starting and finishing everyday tasks</h1>

              <form id="question-form" action="mental-capabilities" method="post">

                {{ govukTextarea({
                  name: "everydaytasksNotes",
                  id: "everydaytasksNotes",
                  rows: "8",
                  classes: "govuk-!-margin-bottom-9",
                  label: {
                    text: "Notes on planning, starting and finishing everyday tasks",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  value: data['everydaytasksNotes']
                }) }}  

                {{ govukRadios({
                  idPrefix: "everydaytasksSelect",
                  name: "everydaytasksSelect",
                  fieldset: {
                    legend: {
                      text: "Can the claimant plan, start and finish everyday tasks without difficulty?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "Cannot plan, start and finish everyday tasks",
                      text: "Cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "Most of the time the claimant cannot plan, start and finish everyday tasks",
                      text: "Most of the time the claimant cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "Often cannot plan, start and finish everyday tasks",
                      text: "Often cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "None of the above",
                      text: "None of the above"
                    }
                  ]
                }) }}

                    {{ govukTextarea({
                        name: "everydaytasksdetails",
                        id: "everydaytasksdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['everydaytasksdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>

  <script type="text/javascript">
    document.getElementById("everydaytasksSelect").onclick = function() {
          var link = "../curtail-lcwra/everyday-tasks";
      document.getElementById("question-form").action=link;
    }
  
    document.getElementById("everydaytasksSelect-2").onclick = function() {
          var link = "mental-capabilities";
      document.getElementById("question-form").action=link;
    }
  
    document.getElementById("everydaytasksSelect-3").onclick = function() {
          var link = "mental-capabilities";
      document.getElementById("question-form").action=link;
    }
  
    document.getElementById("everydaytasksSelect-4").onclick = function() {
          var link = "mental-capabilities";
      document.getElementById("question-form").action=link;
    }
  </script>

{% endblock %}
