{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl"> Mental, cognitive and intellectual capabilities</h1>
              
              <ul class="app-task-list">
                                      <ul class="app-task-list__items govuk-!-padding-left-0">
                                        <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="learning-tasks" aria-describedby="contact-details-status">
                                                Learning to do new tasks
                                              </a>
                                            </span>
                                            {% if data['learningtasksdetails'] and data['learningtasksSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['learningtasksNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                          </li>
                                          <li class="app-task-list__item">
                                              <span class="app-task-list__task-name">
                                                <a href="hazards-danger" aria-describedby="contact-details-status">
                                                  Awareness of hazards and danger
                                                </a>
                                              </span>
                                              {% if data['hazardsdangerdetails'] and data['hazardsdangerSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['hazardsdangerNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                              
                                            </li>
                                            <li class="app-task-list__item">
                                                <span class="app-task-list__task-name">
                                                  <a href="everyday-tasks" aria-describedby="contact-details-status">
                                                      Planning, starting and finishing everyday tasks
                                                  </a>
                                                </span>
                                                {% if data['everydaytasksdetails'] and data['everydaytasksSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['everydaytasksNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                                
                                              </li>
                                              <li class="app-task-list__item">
                                                  <span class="app-task-list__task-name">
                                                    <a href="coping-with-changes" aria-describedby="contact-details-status">
                                                      Coping with changes
                                                    </a>
                                                  </span>
                                                  {% if data['copingdetails'] and data['copingSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['copingNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                                  
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                      <a href="getting-about" aria-describedby="contact-details-status">
                                                        Getting about
                                                      </a>
                                                    </span>
                                                    {% if data['gettingaboutdetails'] and data['gettingaboutSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['gettingaboutNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                                    
                                                  </li>
                                                  <li class="app-task-list__item">
                                                      <span class="app-task-list__task-name">
                                                        <a href="social-situations" aria-describedby="contact-details-status">
                                                          Coping with social situations
                                                        </a>
                                                      </span>
                                                      {% if data['socialsitudetails'] and data['socialsituSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['socialsituNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                                     
                                                    </li>
                                                    <li class="app-task-list__item">
                                                        <span class="app-task-list__task-name">
                                                          <a href="behaving-around-others" aria-describedby="contact-details-status">
                                                              Behaving appropriately around other people
                                                          </a>
                                                        </span>
                                                        {% if data['behaviourdetails'] and data['behaviourSelect'] %}
                                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                            {% elseif data['behaviourNotes'] %}
                                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                            {% else %}
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                            {% endif %}
                                                      
                                                      </li>
                                          
                      </ul>
                    </li>

                
                  </ul>

                    <a href="../assessment-overview" class="govuk-button">Continue</a>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
