{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-complete.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

                <h1 class="govuk-heading-xl">Reading and understanding signs, symbols and words</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

            <form action="review" method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Which of these describes how well Jayne can read and understand signs, symbols and words?
                    </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="readingunderstandingSelect" name="readingunderstandingSelect" type="radio" value="Can read and understand basic and complex written information either unaided or using spectacles or contact lenses">
                      <label class="govuk-label govuk-radios__label" for="readingunderstandingSelect">
                        Can read and understand basic and complex written information either unaided or using spectacles or contact lenses
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="readingunderstandingSelect-2" name="readingunderstandingSelect" type="radio" value="Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information">
                      <label class="govuk-label govuk-radios__label" for="readingunderstandingSelect-2">
                        Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="readingunderstandingSelect-3" name="readingunderstandingSelect" type="radio" value="Needs prompting to be able to read or understand complex written information">
                      <label class="govuk-label govuk-radios__label" for="readingunderstandingSelect-3">
                        Needs prompting to be able to read or understand complex written information
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="readingunderstandingSelect-4" name="readingunderstandingSelect" type="radio" value="Needs prompting to be able to read or understand basic written information">
                      <label class="govuk-label govuk-radios__label" for="readingunderstandingSelect-4">
                        Needs prompting to be able to read or understand basic written information
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="readingunderstandingSelect-5" name="readingunderstandingSelect" type="radio" value="Cannot read or understand signs, symbols or words at all">
                      <label class="govuk-label govuk-radios__label" for="readingunderstandingSelect-5">
                        Cannot read or understand signs, symbols or words at all
                      </label>
                    </div>
                   
                  </div>
              
                </fieldset>
              </div>
              

                    {{ govukTextarea({
                      name: "readingunderstandingReason",
                      id: "readingunderstandingReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--m",
                        isPageHeading: false
                      },
                      value: data['readingunderstandingReason']
                    }) }}  

                    {{ govukButton({
                      text: "Save"
                    }) }}
                </ul>
    


            </form>

              

            </div>

            <div class="govuk-grid-column-one-third">

              <div class="notes-box">
              <h2 class="govuk-heading-m">Your assessment notes</h2>
              <p>{{ data['readingunderstanding'] }}</p>
               </div>

            </div>

        </div>

    </main>
  </div>
{% endblock %}
