{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-complete.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "review"
                }) }}

              <h1 class="govuk-heading-xl">Your recommendation</h1>
              
              <h2 class="govuk-heading-m">Assessment details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date and time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      21st April 2021, 14:00
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Assessor
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Dr A. Jones
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Assessment centre
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Tresco
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Day to day life</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <script type="text/javascript">
                      var preparingfoodSelect = {{data.preparingfoodSelect|dump|safe}}
                      console.log(preparingfoodSelect)
                      if (preparingfoodSelect) {
                        document.write(' <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Preparing food</dt><dd class="govuk-summary-list__value"><p>{{ data['preparingfoodSelect'] }}</p><p>{{ data['preparingfoodReason'] }}</p></dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="preparingfood-b">Change<span class="govuk-visually-hidden"> name</span></a></dd></div>');
                        }
                    </script>
                  </dl>

            



         <a href="declaration" class="govuk-button">Continue</a>

        </div>
</div>


    </main>
  </div>
{% endblock %}
