{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Physical functions</h1>

              <ul class="app-task-list">

                  <li>
                      <ul class="app-task-list__items govuk-!-padding-left-0">
                        <li class="app-task-list__item">
                          <span class="app-task-list__task-name">
                            <a href="mobilising-using-steps" aria-describedby="company-information-status">
                                Mobilising and using steps
                            </a>
                          </span>
                            {% if data['mobilisingdetails'] and data['mobilisingSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['mobilisingNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="standing-and-sitting" aria-describedby="company-information-status">
                                  Standing and sitting
                              </a>
                            </span>
                              {% if data['standingsittingdetails'] and data['standingsittingSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['standingsittingNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                          </li>
                          <li class="app-task-list__item">
                          <span class="app-task-list__task-name">
                            <a href="reaching" aria-describedby="company-information-status">
                                Reaching
                            </a>
                          </span>
                          {% if data['reachingdetails'] and data['reachingSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['reachingNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="pickingup" aria-describedby="company-information-status">
                                  Picking up and moving things
                              </a>
                            </span>
                            {% if data['pickingupdetails'] and data['pickingupSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['pickingupNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                          </li>
                          <li class="app-task-list__item">
                              <span class="app-task-list__task-name">
                                <a href="manual-dexterity" aria-describedby="company-information-status">
                                    Manual dexterity
                                </a>
                              </span>
                              {% if data['dexteritydetails'] and data['dexteritySelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['dexterityNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  <a href="making-self-understood" aria-describedby="company-information-status">
                                     Making self understood
                                  </a>
                                </span>
                          
                              {% if data['makingselfunderstooddetails'] and data['makingselfunderstoodSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['makingselfunderstoodNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                              </li>
                              <li class="app-task-list__item">
                                  <span class="app-task-list__task-name">
                                    <a href="understanding-communication" aria-describedby="company-information-status">
                                        Understanding communication
                                    </a>
                                  </span> 
                            {% if data['understandingcommunicationdetails'] and data['understandingcommunicationSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['understandingcommunicationNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                      <a href="navigation" aria-describedby="company-information-status">
                                          Navigation
                                      </a>
                                    </span>
                                    {% if data['navigationdetails'] and data['navigationSelect'] %}
                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elseif data['navigationNotes'] %}
                             <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                             {% else %}
                             <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                            {% endif %}
                                  </li>
                                  <li class="app-task-list__item">
                                      <span class="app-task-list__task-name">
                                        <a href="continence" aria-describedby="company-information-status">
                                            Continence
                                        </a>
                                      </span>
                                      {% if data['continencedetails'] and data['continenceSelect'] %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                      {% elseif data['continenceNotes'] %}
                                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                      {% else %}
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                      {% endif %}
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a href="staying-conscious" aria-describedby="company-information-status">
                                              Staying conscious when awake
                                          </a>
                                        </span>
                                       
                                      {% if data['stayingconsciousdetails'] and data['stayingconsciousSelect'] %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                                      {% elseif data['stayingconsciousNotes'] %}
                                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In Progress</strong>
                                      {% else %}
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                                      {% endif %}
                                      </li>
                                      </ul>
                                    </li>




                  </ul>

                    <a href="../assessment-overview" class="govuk-button">Continue</a>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
