<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">John Doe</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 X</dt>
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>31 December 1969</dd>
      </div>
    </dl>
  </section>