{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "#"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1>Fit for work</h1>

  <form action="csd-consulted" method="post" id="question-form" novalidate>

      {{ govukRadios({
        idPrefix: "when-review",
        name: "when-review",
        fieldset: {
          legend: {
            text: "When should this claim be reviewed?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "3 months",
            text: "3 months"
          },
          {
            value: "No future assessments required",
            text: "No future assessments required"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "review-time-reasons",
        id: "review-time-reasons",
        label: {
          text: "Why should the claim be reviewed then?",
          classes: "govuk-label--s",
          isPageHeading: false
        }
      }) }}

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</main>
</div>





{% endblock %}
