{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

            <form action="assessment-status" method="post">

                    {{ govukTextarea({
                        name: "musculoskeletal",
                        id: "musculoskeletal",
                        label: {
                          text: "Musculoskeletal",
                          classes: "govuk-label--xl",
                          isPageHeading: true
                        },
                        value: data['musculoskeletal']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            <h2 class="govuk-heading-m govuk-!-margin-top-7">Guidance</h2>
            <h2 class="govuk-heading-s">Musculoskeletal examination</h2>
            <p>Where an MSO examination is appropriate it is important observations and comparisons are included on both arms and/or both legs.</p>
            <p>It is also important to explain why MSO is not always completed.</p>
            <p>Remind claimant not to do anything that is likely to cause or exacerbate pain or discomfort</p>
            <p>Please note that giving percentages of range of movement here isn’t always meaningful for a Case Manager, but using words that suggest comparison to a normal range of movement is more useful. For example, can touch back of head etc. You should also indicate whether the ranges of movements seen are consistent with the claimant’s condition.</p>

            <p>Please also give an indication of the following (if seen):</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>Whether the claimant was observed to be breathless, sweating or in pain doing the examination.</li>
              <li>Whether there were any abnormalities of joints or limbs observed.</li>
            </ul>

            <p>Please use common terminology and consider a test such as whether they are “able to read standard size text/font. Additionally, documenting the eye test result as N48, for example, does not mean anything to Case Managers so please indicate whether the result is classed as good, average, poor eyesight etc and record findings of such tests.</p>




            </div>
        </div>

    </main>
  </div>
{% endblock %}
