{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Contact log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-full">

              <h1 class="govuk-heading-l">Contact log</h1>
              <a href="referral" class="govuk-button govuk-button--secondary">Add new entry</a>

              {{ govukTable({
                head: [
                  {
                    text: "Date"
                  },
                  {
                    text: "Referral"
                  },
                  {
                    text: "Channel"
                  },
                  {
                    text: "Action taken"
                  },
                  {
                    text: "By"
                  }
                ],
                rows: [
                  [
                    {
                      text: "21 Oct 2021"
                    },
                    {
                      text: "UC"
                    },
                    {
                      text: "Post to claimant"
                    },
                    {
                      text: "Questionaire sent"
                    },
                    {
                      text: "Phillip Scott"
                    }
                  ],
                  [
                    {
                      text: "28 Oct 2021"
                    },
                    {
                      text: "UC"
                    },
                    {
                      text: "Phonecall to claimant"
                    },
                    {
                      text: "Other: Called to introduce myself and chase the progress of the form"
                    },
                    {
                      text: "Phillip Scott"
                    }
                  ],
                  [
                    {
                      text: "8 Nov 2021"
                    },
                    {
                      text: "UC"
                    },
                    {
                      text: "Post from claimant"
                    },
                    {
                      text: "Questionaire recieved"
                    },
                    {
                      text: "Andy Clarke"
                    }
                  ]
                ]
              }) }}
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
