{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

            <form action="assessment-status" method="post">
              {{ govukTextarea({
                name: "budgeting",
                id: "budgeting",
                label: {
                  text: "Budgeting",
                  classes: "govuk-label--xl",
                  isPageHeading: true
                },
                value: data['budgeting']
              }) }}      
              

                    {{ govukButton({
                      text: "Save"
                    }) }}
                </ul>
    


            </form>


            <h2 class="govuk-heading-m govuk-!-margin-top-7">Guidance</h2>
            <p>Please give an indication of the following:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Whether the claimant pays their own bills or does their own shopping.</li>
              <li>If not who does it and why.</li>
              <li>Whether they save for bills. </li>
              <li>Whether they understand the value of money</li>
              <li>Whether the claimant can independently do shopping or banking on-line.  </li>
              <li>Brief description of key restriction e.g. needs prompting due to low mood.</li>
              <li>Brief description of key restriction e.g. does not open post or deal with bills due to low motivation.</li>
              <li>Whether they understand the value of money</li>
              <li>Critical analysis of evidence showed stable mood, cares for children and works three days a week unprompted, medication is of a standard nature and reported to be effective.</li>
              <li>Review of inconsistencies and consider the usual features/progress/nature of the condition. </li>
              <li>Summarise and refer to the evidence gathered. </li>

            </ul>
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
