{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

                <h1 class="govuk-heading-xl">Managing Therapy</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

            <form action="assessment-status" method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Which of these describes how well the claimant can manage therapy or monitor a health condition?
                    </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect" name="managingtherapySelect" type="radio" value="Either – (i) does not receive medication or therapy or need to monitor a health condition; or can manage medication or therapy or monitor a health condition unaided.">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect">
                        Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect-2" name="managingtherapySelect" type="radio" value="Needs any one or more of the following - to use an aid or appliance to be able to manage medication; supervision, prompting or assistance to be able to manage medication supervision, prompting or assistance to be able to monitor a health condition.">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect-2">
                        Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect-3" name="managingtherapySelect" type="radio" value="Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect-3">
                        Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect-4" name="managingtherapySelect" type="radio" value=" Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week.">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect-4">
                        Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect-5" name="managingtherapySelect" type="radio" value="Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect-5">
                        Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="managingtherapySelect-6" name="managingtherapySelect" type="radio" value="Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week">
                      <label class="govuk-label govuk-radios__label" for="managingtherapySelect-6">
                        Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>


                    {{ govukTextarea({
                      name: "managingtherapyReason",
                      id: "managingtherapyReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--m",
                        isPageHeading: false
                      },
                      value: data['managingtherapyReason']
                    }) }}

                    {{ govukButton({
                      text: "Save"
                    }) }}
                </ul>



            </form>



            </div>

            <div class="govuk-grid-column-one-third">


            </div>

        </div>

    </main>
  </div>
{% endblock %}
