{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      
      <div class="govuk-grid-row">

          

        <div class="govuk-grid-column-two-thirds">


        
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

        

        <form action="/version-0-3-1/contact-claimant-incoming" method="post" class="form">

          <h1 class="govuk-heading-l">
            Why did the claimant contact us? 

          </h1>
  
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
           
            <div class="govuk-radios govuk-radios">
             
              {% if  data['claim']  != 'PIP' %}
              <div class="govuk-radios__item" data-module="govuk-radios">
                <input class="govuk-radios__input" id="inc-action-1" name="inc-action" type="radio"  aria-controls="conditional-inc-action-1" aria-expanded="false" value="Returned questionnaire" {{ checked("inc-action", "Returned questionnaire") }}>
                <label class="govuk-label govuk-radios__label" for="inc-action-1">
                  Returned questionnaire
            </label>                      
          </div>
          {% endif %} 
         

              <div class="govuk-radios__item" data-module="govuk-radios">
                <input class="govuk-radios__input" id="inc-action-6" name="inc-action" type="radio"  aria-controls="conditional-inc-action-6" aria-expanded="false" value="Rescheduled an assessment" {{ checked("inc-action", "Rescheduled an assessment") }}>
                <label class="govuk-label govuk-radios__label" for="inc-action-6">
                  Rescheduled an assessment
            </label>                      
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-inc-action-6" style=display:none;>
            <div class="govuk-form-group"></div></div>

           

              <div class="govuk-radios__item" data-module="govuk-radios">
                <input class="govuk-radios__input" id="inc-action-7" name="inc-action" type="radio"  aria-controls="conditional-inc-action-7" aria-expanded="false" value="Withdrew their claim" {{ checked("inc-action", "   Withdrew their claim") }}>
                <label class="govuk-label govuk-radios__label" for="inc-action-7">
                  Withdrew their claim
            </label>                      
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-inc-action-7" style=display:none;>
            <div class="govuk-form-group"></div></div>

            {% if  (data['claim']   != 'PIP' and (data['claim'])   != 'UC') %}
              <div class="govuk-radios__item" data-module="govuk-radios">
                <input class="govuk-radios__input" id="inc-action-8" name="inc-action" type="radio"  aria-controls="conditional-inc-action-8" aria-expanded="false" value="Submitted a mandatory reconsideration" {{ checked("inc-action", "Submitted a mandatory reconsideration") }}>
                <label class="govuk-label govuk-radios__label" for="inc-action-8">
                  Submitted a mandatory reconsideration
            </label>                      
          </div>
          {% endif %} 
         
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="inc-action-10" name="inc-action" type="radio" value="" aria-controls="conditional-inc-action-10" aria-expanded="false" value="Other"  {{ checked("inc-action", "Other") }}>
                <label class="govuk-label govuk-radios__label" for="inc-action-10">
              Other
            </label>
                
              </div>
              
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-inc-action-10">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="inc-action-10">
                      Add brief details explaining why the claimant contacted us
                    </label>      
                         
                  <input class="govuk-input govuk-!-width-full-width" id="inc-action-10" name="inc-action-details" type="text" value="{{ data['inc-action-details'] }}" autocomplete="off">
                  </div>

                </div>
            
            
      </div>

      
              
              
        </div>
              


              </div>

  <br>
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
  
        </form>

             
             
        
              </div>
            </div>

      

            </div>
        </div>

    </main>
  </div>


{% endblock %}
