{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">


<a href="javascript:history.back()" class="govuk-back-link">Back</a> 

<!--<a href="referral-page" class="govuk-back-link">Back</a>-->


  <!--  <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>--> 

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          



      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Timeline</h1>

        <ol class="dwp-timeline">

          {% if  data['log'] %}
                  <li class="dwp-timeline__entry">
           

                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ data['claim'] }}  {{ data['action'] }}  {{ data['inc-action'] }} {{ data['action-details'] }} {{ data['inc-action-details'] }} </h2>
               
                     <p class="govuk-caption-m govuk-!-margin-bottom-1"> 


                      {% if  data['additional-details'] %} {{ data['additional-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['fme-box-details'] %} {{ data['fme-box-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['review-box-details'] %} {{ data['review-box-details'] }}
                      <br><br>   {% endif %}
                    
                      {% if  data['failed-box-details'] %} {{ data['failed-box-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['booking-box-details'] %} {{ data['booking-box-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['rebooking-box-details'] %} {{ data['rebooking-box-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['pbr-booking-box-details'] %} {{ data['pbr-booking-box-details'] }}
                      <br><br>   {% endif %}

                      {% if  data['what'] === 'outgoing' %}
                      Text message (SMS) and post to
                      {% else %} 
                      
                      {{ data['contact-method'] }} 
                      {% endif %}
                      {% if  data['who'] === 'the claimant' %} the claimant   {% else %}  {{ data['who-details'] }} {% endif %} 
                      {% if  data['what'] === 'event' %} By Phillip Smith   {% endif %} 
                      {% if  data['what'] === 'outgoing' %} by Phillip Smith  
                      
                      {% if  data['phone-answer-details'] %}
                      <p class="govuk-caption-m govuk-!-margin-bottom-1">  
                     No answer: {{ data['phone-answer-details'] }} </p>
                     {% endif %}
                      
                      {% endif %} </p>

                 
                      
                     <p class="govuk-caption-m">

                      {% if  data['year'] %} 
                      {{ data['day']}}  {{ data['month'] | toMonth }}  {{ data['year']}} 
                      {% else %} 
                      15 March 2022
                      {% endif %}
                      at  {% if  data['time2'] %}
                     {{ data['time2'] }} 
                     {% else %} 
                     3:15pm
                     {% endif %}
                    </p>
                
                 <!--   <div class="moj-timeline__description">  {{ data['claim'] }} {{ data['contact-method'] }}     </div>--> 

               

    <!-- hide for no assessment details in MVP to line 137
             {% if  data['phone-answer']  == 'yes-assessment' %}
             
                  
                  <details class="govuk-details" data-module="govuk-details" style="margin-left: 7px; margin-top:10px; margin-bottom:0px;">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Assessment details
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                      
                      <span class="govuk-body govuk-!-font-weight-bold"> Assessment type:</span> {{ data['assessment-type'] }} <br>
                      <span class="govuk-body govuk-!-font-weight-bold">Date and time of assessment:</span> 27 February 2022 at {{ data['assessment-time'] }} <br>
                      
                        <span class="govuk-body govuk-!-font-weight-bold">Assessor name:</span> {{ data['assessor-name'] }} </div>
                  
                  </details>

                  {% endif %} 

                  {% if  data['inc-action']  == 'Rescheduled an assessment' %}
             
                  
                  <details class="govuk-details" data-module="govuk-details" style="margin-left: 7px; margin-top:10px; margin-bottom:0px;">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Assessment details
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                      
                      <span class="govuk-body govuk-!-font-weight-bold"> Assessment type:</span> {{ data['assessment-type'] }} <br>
                      <span class="govuk-body govuk-!-font-weight-bold">Date and time of assessment:</span> 27 February 2022 at {{ data['assessment-time'] }} <br>
                      
                        <span class="govuk-body govuk-!-font-weight-bold">Assessor name:</span> {{ data['assessor-name'] }} </div>
                  
                  </details>

                  {% endif %} 


                  {% if  data['action']   == 'Paper based review booked' %}
             
                  
                  <details class="govuk-details" data-module="govuk-details" style="margin-left: 7px; margin-top:10px; margin-bottom:0px;">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Assessment details
                      </span>
                    </summary>

                    <div class="govuk-details__text">
                      
                    <span class="govuk-body govuk-!-font-weight-bold"> Assessment type:</span> {{ data['assessment-type'] }} <br>
                      <span class="govuk-body govuk-!-font-weight-bold">Date and time of assessment:</span> 27 February 2022 at {{ data['assessment-time'] }} <br>
                      
                        <span class="govuk-body govuk-!-font-weight-bold">Assessor name:</span> {{ data['assessor-name'] }} </div>
                  
                  </details>

                  {% endif %}  
                end of mvp no assessment details --> 

                  <!--   <div class="moj-timeline__description" style="margin-top: 10px; padding-bottom: 10px;">  <a href="edit-entry">Edit this entry</a> </div>--> 
          {% endif %} 
     
          


          <li class="dwp-timeline__entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% if  data['claim']   != 'PIP' %}UC{% endif %}{% if  data['claim']   != 'UC' %}PIP{% endif %} Paper based review booked</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">PBR booked 21/03/2022 2pm, AS needs noted <br> <br>Telephone call to the claimant by Angela Tait</p>
            <p class="govuk-caption-m">
                25 February 2022 at 1:30pm
            </p>

          <!--   <div class="moj-timeline__description" style="margin-top: 10px; padding-bottom: 10px;">  <a href="#">Edit this entry</a> </div> -->
        </li>

          <li class="dwp-timeline__entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% if  data['claim']   != 'PIP' %}UC{% endif %}{% if  data['claim']   != 'UC' %}PIP{% endif %} Returned questionnaire</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Post from claimant</p>
            <p class="govuk-caption-m">
                23 February 2022
            </p>

           
        </li>

          <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% if  data['claim']   != 'PIP' %}UC{% endif %}{% if  data['claim']   != 'UC' %}PIP{% endif %} Reminded them to return questionnaire</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Telephone call to claimant by Phil Smith</p>
              <p class="govuk-caption-m">
                 20 February 2022 at 10am
              </p>

           
          </li>

          <li class="dwp-timeline__entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% if  data['claim']   != 'PIP' %}UC{% endif %}{% if  data['claim']   != 'UC' %}PIP{% endif %} Sent questionnaire</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">Posted to claimant by Phil Smith</p>
              <p class="govuk-caption-m">
                  6 February 2022
              </p>

            
          </li>

      </ol>




               
             
              
             
</div>

             <div class="govuk-grid-column-one-third">
                
                  <h3 class="govuk-heading-m">What you can do next</h3>
             <ul class="govuk-list">
                  <!--clears previous entry and overwrites it, button styled as a link
                  See server.js for code on this clearing 
                <form action="/version-0-3-2/add-new-entry" method="post" class="form">
                  <button class="button-link-hack" data-module="govuk-button">Add new entry</button>

                  </form>

                End of button hack -->

             <li class="govuk-!-margin-bottom-2"><a href="referral">Add entry to timeline</a></li> 
                 
                </ul>

              <!-- hidden button   <a href="referral" class="govuk-button">Add a new entry </a>-->

              
              
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
