{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">

              <form action="outgoing-channel" method="post">

              {{ govukBackLink({
                text: "Back",
                href: "what"
              }) }}

              {% set otherHtml %}
              {{ govukInput({
                id: "other",
                name: "other",
                type: "textarea",
                label: {
                  text: "Details"
                }
              }) }}
              {% endset -%}

              {{ govukRadios({
                idPrefix: "type",
                name: "type",
                fieldset: {
                  legend: {
                    text: "Why did we contact the claimant?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Sent questionnaire",
                    text: "Sent questionnaire",
                    id: "action-sent-questionaire",
                    checked: checked("action", "Sent questionnaire")
                  },
                  {
                    value: "Reminded them to return questionnaire",
                    text: "Reminded them to return questionnaire",
                    id: "action-remdined-them-to-return-questionnaire",
                    checked: checked("action", "Reminded them to return questionnaire")
                  },
                  {
                    value: "Requested further evidence" ,
                    text: "Requested further evidence",
                    id: "action-requested-further-evidence",
                    checked: checked("action", "Requested further evidence")
                  },
                  {
                    value: "Reminded them to send evidence",
                    text: "Reminded them to send evidence",
                    id: "action-reminded-send-evidence",
                    checked: checked("action", "Reminded them to send evidence")
                  },
                  {
                    value: "Booked an assessment",
                    text: "Booked an assessment",
                    id: "action-assessment-booked",
                    checked: checked("action", "Booked an assessment")
                  },
                  {
                    value: "Rescheduled an assessment",
                    text: "Rescheduled an assessment",
                    id: "action-rescheduled-assessment",
                    checked: checked("action", "Rescheduled an assessment")
                  },
                  {
                    value: "Told them about a decision",
                    text: "Told them about a decision",
                    id: "action-told-decision",
                    checked: checked("action", "Told them about a decision")
                  },
                  {
                    value: "Made introductory contact",
                    text: "Made introductory contact",
                    id: "action-made-contact",
                    checked: checked("action", "Made introductory contact")
                  },
                  {
                    value: "Other",
                    text: "Other",
                    conditional: {
                      html: otherHtml
                    }
                  }
                ]
              }) }}



              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

            </div>
        </div>

    </main>
  </div>

  <script type="text/javascript">
    document.getElementById("type-5").onclick = function() {
          var link = "assessment-booking";
      document.getElementById("question-form").action=link;
    }
  
    document.getElementById("type-6").onclick = function() {
          var link = "assessment-booking";
      document.getElementById("question-form").action=link;
    }

  </script>

{% endblock %}
