{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}



  <div class="govuk-width-container {{ containerClasses }}">

<!-- 
<a href="javascript:history.back()" class="govuk-back-link">Back</a>  -->




    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          

        <div class="govuk-grid-column-full">

         
          </div>


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

<p>Try again later. If you wrote or selected something on the previous page, it might not be saved.</p>

               <p>Go to the <a href="javascript:history.back()">last page you viewed</a>.</p>
             
              
             
</div>

             <div class="govuk-grid-column-one-third">
                
               

                 
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
