{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral2.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <!-- <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>--> 

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">
            




            <form action="log-condensed" method="post" class="form">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      What are you adding to the timeline?
                    </h1>
                  </legend>

                <!--  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                    What happened?
                    </h1>
                  </legend> -->
                 
                  <fieldset class="govuk-fieldset">
                 
                    <div class="govuk-radios govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="what-incoming" name="what" type="radio" value="incoming" {{ checked("what", "incoming") }}>
                        <label class="govuk-label govuk-radios__label" for="what-incoming">
                          Inbound contact
                        </label>
                      </div>
    
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="what-outgoing" name="what" type="radio" value="outgoing" {{ checked("what", "outgoing") }}>
                        <label class="govuk-label govuk-radios__label" for="what-outgoing">
                         Outbound contact
                        </label>
                      </div>
    
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="what-event" name="what" type="radio" value="event" {{ checked("what", "event") }}>
                        <label class="govuk-label govuk-radios__label" for="what-event">
                       Update made to a claim
                        </label>
                      </div>
    
                     
                      </div>
                    </fieldset>
               
               
                </fieldset>
                </legend>

          <br>
              <!-- commenting out to accomodate unanswered call journey -->  
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading" style="padding-top:20px;">
                    When did this happen?
                  </h1>
                </legend>
              
                
                    
                          
                      
                      
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
               
                    <div id="passport-issued-hint" class="govuk-hint">
                      For example, 15 3 2022
                    </div>
                    <div class="govuk-date-input" >
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" value="{{ data['day'] }}" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" value="{{ data['month'] }}" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" value="{{ data['year'] }}" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                
                  </fieldset>
           


                        <br><br>
                            <label class="govuk-label" for="time2">
                              Time of contact (optional)
                            </label>      
                            <div id="time-hint" class="govuk-hint">
                              For example, 12:30pm
                            </div>          
                          <input class="govuk-input govuk-!-width-one-quarter" id="time2" name="time2" type="text" aria-describedby="time-hint" value="{{ data['time2'] }}" autocomplete="off">
                              
                    
                </div> 

             <!-- - Hidden due to referral being fed through from chaffinch  <h1 class="govuk-heading-m">Which claim is this for?</h1>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="claim-uc" name="claim" type="radio" value="UC" {{ checked("claim", "UC") }}>
                    <label class="govuk-label govuk-radios__label" for="claim-uc">
                      Universal Credit
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="claim-pip" name="claim" type="radio" value="PIP" {{ checked("claim", "PIP)") }}>
                    <label class="govuk-label govuk-radios__label" for="claim-pip">
                      Personal Independence Payment
                    </label>
                  </div>
                 
                </div> -->
  
                <div class="hidden-radio-post">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="log-show" name="log" type="radio" value="log" {{ checked("log", "show") }}checked>
                      <label class="govuk-label govuk-radios__label" for="log-show">
                     Hidden radio = show on interaction log
                      </label>
                    </div>
                  </div>
            </div>
                 
                </fieldset>
              </div>
      
              <button class="govuk-button" data-module="govuk-button">Continue</button>
      
            </form>



            </div>
        </div>

    </main>
  </div>


{% endblock %}
