{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/wca-assessment-in-progress.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "scoring"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Planning, starting and finishing everyday tasks</h1>

              <form action="lcwra" method="post">

                {{ govukRadios({
                  idPrefix: "everydaytasksSelect",
                  name: "everydaytasksSelect",
                  fieldset: {
                    legend: {
                      text: "Can Jayne plan, start and finish everyday tasks without difficulty?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "everydaytasks-one",
                      text: "Cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "everydaytasks-two",
                      text: "Most of the time Jayne cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "everydaytasks-three",
                      text: "Often cannot plan, start and finish everyday tasks"
                    },
                    {
                      value: "everydaytasks-four",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "everydaytasksdetails",
                        id: "everydaytasksdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['everydaytasksdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
