{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/wca-assessment-in-progress.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "scoring"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Awareness of hazards and danger</h1>

              <form action="scoring" method="post">

                {{ govukRadios({
                  idPrefix: "hazardsdangerSelect",
                  name: "hazardsdangerSelect",
                  fieldset: {
                    legend: {
                      text: "How often does Jayne need someone with them to help them stay safe?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "hazardsdanger-one",
                      text: "Needs someone with them most of the time to stay safe"
                    },
                    {
                      value: "hazardsdanger-two",
                      text: "Often needs someone with them to stay safe"
                    },
                    {
                      value: "hazardsdanger-three",
                      text: "Occasionally needs someone with them to stay safe"
                    },
                    {
                      value: "hazardsdanger-four",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "hazardsdangerdetails",
                        id: "hazardsdangerdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['hazardsdangerdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
