{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/wca-assessment-in-progress.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "scoring"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Learning to do new tasks</h1>

              <form action="scoring" method="post">

                {{ govukRadios({
                  idPrefix: "learningtasksSelect",
                  name: "learningtasksSelect",
                  fieldset: {
                    legend: {
                      text: "Which of these options describes how well Jayne can learn how to do new tasks?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "learningtasks-one",
                      text: "Cannot learn how to do a basic task such as setting an alarm clock"
                    },
                    {
                      value: "learningtasks-two",
                      text: "Can learn how to do a basic task, such as setting an alarm clock, but nothing more complicated than that"
                    },
                    {
                      value: "learningtasks-three",
                      text: "Can learn how to do a moderately complicated task, such as using a washing machine, but nothing more complicated than that"
                    },
                    {
                      value: "learningtasks-four",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "learningtasksdetails",
                        id: "learningtasksdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['learningtasksdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
