{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/wca-assessment-in-progress.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "scoring"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Making self understood</h1>

            <form action="scoring" method="post">

                {{ govukRadios({
                  idPrefix: "makingselfunderstoodSelect",
                  name: "makingselfunderstoodSelect",
                  fieldset: {
                    legend: {
                      text: "Which of these options describes how Jayne can communicate simple messages to people by speaking, writing or typing?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "makingselfunderstood-one",
                      text: "Cannot communicate a simple message"
                    },
                    {
                      value: "makingselfunderstood-two",
                      text: "Has significant difficulty communicating a simple message to strangers"
                    },
                    {
                      value: "makingselfunderstood-three",
                      text: "Has some difficulty communicating a simple message to strangers"
                    },
                    {
                      value: "makingselfunderstood-four",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "makingselfunderstooddetails",
                        id: "makingselfunderstooddetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['makingselfunderstooddetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
