{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/wca-assessment-in-progress.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "scoring"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Manual dexterity</h1>

            <form action="scoring" method="post">

                {{ govukRadios({
                  idPrefix: "dexteritySelect",
                  name: "dexteritySelect",
                  fieldset: {
                    legend: {
                      text: "Select the highest scoring task that R cannot do with either hand",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "Cannot press a button, like a phone keyboard",
                      text: "Cannot press a button, like a phone keyboard"
                    },
                    {
                      value: "Cannot turn the pages of a book",
                      text: "Cannot turn the pages of a book"
                    },
                    {
                      value: "Cannot pick up a £1 coin",
                      text: "Cannot pick up a £1 coin"
                    },
                    {
                      value: "Cannot use a pen or pencil to make a meaningful mark, like a cross or tick",
                      text: "Cannot use a pen or pencil to make a meaningful mark, like a cross or tick"
                    },
                    {
                      value: "Cannot use either a keyboard or mouse",
                      text: "Cannot use either a keyboard or mouse"
                    },
                    {
                      value: "None of the above",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "dexteritydetails",
                        id: "dexteritydetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['dexteritydetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
