{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "#"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Functional limited capability for work-related activity (LCWRA)</h1>

              <p class="govuk-body-l">The criteria for functional LCWRA has been met because the claimant cannot learn how to do a basic task such as setting an alarm clock.</h2>

                {% if data['learningtasksNotes'] %}
              <h2 class="govuk-heading-s">Your notes about learning to do new tasks</h2> 

              <p>{{ data['learningtasksNotes'] }}</p>
              {% endif %}

                    <form class="govuk-!-margin-top-6"  action="../time-review" method="post">

                      <h2 class="govuk-heading-s">Detailed justification</h2> 
                      <p>{{ data['learningtasksdetails'] }}</p>

                      {{ govukButton({
                        text: "Save and continue"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
