{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "#"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Functional limited capability for work-related activity (LCWRA)</h1>

              <p class="govuk-body-l">The criteria for functional LCWRA has been met because the claimant cannot understand simple messages due to sensory impairment.</h2>

                {% if data['understandingcommunicationNotes'] %}
              <h2 class="govuk-heading-s">Your notes about understanding communication</h2> 

              <p>{{ data['understandingcommunicationNotes'] }}</p>
              {% endif %}

                    <form class="govuk-!-margin-top-6"  action="../time-review" method="post">

                      {{ govukTextarea({
                        name: "understandingcommunicationdetails",
                        id: "understandingcommunicationdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['understandingcommunicationdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save and continue"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
