{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

            <form action="assessment-status" method="post">

                    {{ govukTextarea({
                        name: "observations",
                        id: "observations",
                        rows: "12",
                        label: {
                          text: "Observations",
                          classes: "govuk-label--xl",
                          isPageHeading: true
                        },
                        value: data['observations']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            <h2 class="govuk-heading-m govuk-!-margin-top-7">Guidance</h2>
            <p>List details of general appearance and informal observations, but specifically consider:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>What distance the claimant was observed walking either around the house or to the assessment room, containing details of gait, time taken, breathlessness and number stops taken, including length of time taken for stops.</li>
              <li>Whether the claimant used any walking aids e.g. walking sticks, crutches or wheelchair, leaned on companion, used furniture.</li>
              <li>Whether they were seen with any other aids such as a neck support or wrist support etc.</li>
              <li>Is the claimant wearing hearing aids</li>
              <li>Whether the claimant was seen to do any movements at the assessment e.g. bending down, picking papers up, getting things out of bags, reaching for papers/documents from a bag on the floor, handling papers/documents, drinking from water bottles and, if relevant, which hand/arm was used</li>
              <li>Whether there were any signs of pain or difficulties – describe these.</li>
              <li>Whether they were looking to companion/partner for prompting or support.</li>
              <li>Relevant observations of weight.</li>
              <li>Consider any physical limitations which need to be linked to the MSO and Informal Observations regarding appearance.</li>
              <li>Whether they were seen to read from letters/medications etc.</li>
            </ul>
            
            
            </div>
        </div>

    </main>
  </div>
{% endblock %}
