{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">

              <form action="incoming-channel" method="post">

              {{ govukBackLink({
                text: "Back",
                href: "what"
              }) }}

              {% set otherHtml %}
              {{ govukInput({
                id: "other",
                name: "other",
                type: "textarea",
                label: {
                  text: "Details"
                }
              }) }}
              {% endset -%}

              {{ govukRadios({
                idPrefix: "type",
                name: "type",
                fieldset: {
                  legend: {
                    text: "Why did the claimant contact us?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Returning questionaire",
                    text: "Returning questionaire"
                  },
                  {
                    value: "Sending further medical evidence",
                    text: "Sending further medical evidence"
                  },
                  {
                    value: "To book an assessment",
                    text: "To book an assessment"
                  },
                  {
                    value: "To rescheduled an assessment",
                    text: "To rescheduled an assessment"
                  },
                  {
                    value: "Progress chasing",
                    text: "Progress chasing"
                  },
                  {
                    value: "Withdraw their claim",
                    text: "Withdraw their claim"
                  },
                  {
                    value: "Submit an appeal",
                    text: "Submit an appeal"
                  },
                  {
                    value: "Submit a mandatory reconsideration",
                    text: "Submit a mandatory reconsideration"
                  },
                  {
                    value: "Other",
                    text: "Other",
                    conditional: {
                      html: otherHtml
                    }
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Save and continue"
              }) }}

            </form>

            </div>
        </div>

    </main>
  </div>
{% endblock %}
