{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-full">

              <h1 class="govuk-heading-l">Claimant log</h1>
              </div>

              <div class="govuk-grid-column-two-thirds">
              
              <ol class="hmrc-timeline">
                <li class="hmrc-timeline__event">
                        <h2 class="hmrc-timeline__event-title">Questionnaire recieved</h2>
                        <p class="hmrc-timeline__event-meta"><time datetime="2021-11-08">8 Nov 2021</time> (UC) Post from claimant, processed by Andy Clarke</p>
                        <div class="hmrc-timeline__event-content">
                        
                        </div>
                      </li><li class="hmrc-timeline__event">
                        <h2 class="hmrc-timeline__event-title">Called to introduce myself and chase the progress of the form</h2>
                        <p class="hmrc-timeline__event-meta"><time datetime="2021-11-08">28 Oct 2021</time> (UC) Phonecall from Phillip Smith to the claimant</p>
                        <div class="hmrc-timeline__event-content">
                        </div>
                      </li><li class="hmrc-timeline__event">
                        <h2 class="hmrc-timeline__event-title">Questionnaire sent</h2>
                        <p class="hmrc-timeline__event-meta"><time datetime="2021-11-08">21 Oct 2021</time> (UC) Post from Phillip Smith to the claimant</p>
                        <div class="hmrc-timeline__event-content">
                        </div>
                      </li>
                    </ol>

                </div>

                <div class="govuk-grid-column-one-third">
                
                  <h3 class="govuk-heading-m">What you can do next</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-bottom-2"><a href="what">Add new entry</a></li>
                  <li><a href="#">Edit an entry</a></li>
                </ul>
                
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
