{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "physical-functions"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Picking up and moving things</h1>

            <form action="physical-functions" method="post">

              {% if data['assessmenttype'] !== "Paper" %}  

              {{ govukTextarea({
                name: "pickingupNotes",
                id: "pickingupNotes",
                rows: "8",
                classes: "govuk-!-margin-bottom-9",
                label: {
                  text: "Notes on picking up and moving things",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                value: data['pickingupNotes']
              }) }}  

              {% endif %}


                {{ govukRadios({
                  idPrefix: "pickingupSelect",
                  name: "pickingupSelect",
                  fieldset: {
                    legend: {
                      text: "Which of these options describes how the claimant can pick things up and move them?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "Cannot pick up and move a 0.5L carton full of liquid",
                      text: "Cannot pick up and move a 0.5L carton full of liquid"
                    },
                    {
                      value: "Cannot pick up and move a 1L carton full of liquid",
                      text: "Cannot pick up and move a 1L carton full of liquid"
                    },
                    {
                      value: "Cannot pick up and move a large, light object like an empty cardboard box",
                      text: "Cannot pick up and move a large, light object like an empty cardboard box"
                    },
                    {
                      value: "None of the above",
                      text: "None of the above"
                    }
                  ]
                }) }}

                {% if data['assessmenttype'] !== "Paper" %}  

                    {{ govukTextarea({
                        name: "pickingupdetails",
                        id: "pickingupdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['pickingupdetails']
                      }) }}

                      {% endif %}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
