{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "assessment-overview"
      }) }}
      
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

  <form action="physical-assessment" method="post" id="question-form" novalidate>



  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            Why do you want to finish the face to face assessment?</h1>
      </legend>

       <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="finish-one" name="finish" type="radio" value="lcwra" aria-describedby="sign-in-2-item-hint" >
           <label class="govuk-label govuk-radios__label" for="finish-one">
             The claimant needs to abandon the assessment
           </label>
         </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="finish-two" name="finish" type="radio" value="nolcwra">
          <label class="govuk-label govuk-radios__label" for="finish-two">
            I've found evidence of functional LCWRA
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="finish-three" name="finish" type="radio" value="nolcwra">
          <label class="govuk-label govuk-radios__label" for="finish-three">
            The claimant should be treated as having LCWRA
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="finish-four" name="finish" type="radio" value="nolcwra">
          <label class="govuk-label govuk-radios__label" for="finish-four">
            I've completed the assessment and need to fill out the report
          </label>
        </div>

      </div>
    </fieldset>

  </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</main>
</div>

<script type="text/javascript">
          document.getElementById("finish-one").onclick = function() {
                var link = "abandon";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("finish-two").onclick = function() {
                var link = "csd-consulted";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("finish-three").onclick = function() {
                var link = "treat-as-lcwra";
            document.getElementById("question-form").action=link;
          }

          document.getElementById("finish-four").onclick = function() {
                var link = "scoring-descriptors/scoring";
            document.getElementById("question-form").action=link;
          }
</script>



{% endblock %}
