{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "physical-functions"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Continence</h1>

              <form action="physical-functions" method="post">

                {{ govukTextarea({
                  name: "continenceNotes",
                  id: "continenceNotes",
                  rows: "8",
                  classes: "govuk-!-margin-bottom-9",
                  label: {
                    text: "Notes on continence",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  value: data['continenceNotes']
                }) }}  


                {{ govukRadios({
                  idPrefix: "continenceSelect",
                  name: "continenceSelect",
                  fieldset: {
                    legend: {
                      text: "Which of these options describes how well the claimant can control their bladder and bowels?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "(a) At least once a week the claimant needs to wash or change their clothes because of difficulty controlling their bladder, bowels or collecting device",
                      text: "(a) At least once a week the claimant needs to wash or change their clothes because of difficulty controlling their bladder, bowels or collecting device"
                    },
                    {
                      value: "(a) At least once a month the claimant needs to wash or change their clothes because of difficulty controlling their bladder, bowels or collecting device",
                      text: "(a) At least once a month the claimant needs to wash or change their clothes because of difficulty controlling their bladder, bowels or collecting device"
                    },
                    {
                      value: "(b) Most of the time there is a risk that the claimant cannot control their bowels, and would need to get changed if they cannot reach a toilet quickly",
                      text: "(b) Most of the time there is a risk that the claimant cannot control their bowels, and would need to get changed if they cannot reach a toilet quickly"
                    },
                    {
                      value: "(c) None of the above",
                      text: "(c) None of the above"
                    }
                  ]
                }) }}

                    {{ govukTextarea({
                        name: "continencedetails",
                        id: "continencedetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['continencedetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
