{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "mental-capabilities"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Learning to do new tasks</h1>

              <form action="mental-capabilities" method="post">

                {{ govukTextarea({
                  name: "learningtasksNotes",
                  id: "learningtasksNotes",
                  rows: "8",
                  classes: "govuk-!-margin-bottom-9",
                  label: {
                    text: "Notes on learning to do new tasks",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  value: data['learningtasksNotes']
                }) }}  

                {{ govukRadios({
                  idPrefix: "learningtasksSelect",
                  name: "learningtasksSelect",
                  fieldset: {
                    legend: {
                      text: "Which of these options describes how well the claimant can learn how to do new tasks?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "(a) Cannot learn how to do a basic task such as setting an alarm clock",
                      text: "(a) Cannot learn how to do a basic task such as setting an alarm clock"
                    },
                    {
                      value: "(b) Can learn how to do a basic task, such as setting an alarm clock, but nothing more complicated than that",
                      text: "(b) Can learn how to do a basic task, such as setting an alarm clock, but nothing more complicated than that"
                    },
                    {
                      value: "(c) Can learn how to do a moderately complicated task, such as using a washing machine, but nothing more complicated than that",
                      text: "(c) Can learn how to do a moderately complicated task, such as using a washing machine, but nothing more complicated than that"
                    },
                    {
                      value: "(d) None of the above",
                      text: "(d) None of the above"
                    }
                  ]
                }) }}

                    {{ govukTextarea({
                        name: "learningtasksdetails",
                        id: "learningtasksdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['learningtasksdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
