{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <div class="navigation-header">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
        <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
        <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
      </ul>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">

              <form action="what-contact-type" method="post" class="form">

                <h1 class="govuk-heading-l">
                  Why are you adding a new entry?

  
                </h1>
        
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                 
                  <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="what-outgoing" name="what" type="radio" value="outgoing" {{ checked("what", "outgoing") }}>
                      <label class="govuk-label govuk-radios__label" for="what-outgoing">
                        We contacted someone about the claim
                      </label>
                    </div>
  
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="what-incoming" name="what" type="radio" value="incoming" {{ checked("what", "incoming") }}>
                      <label class="govuk-label govuk-radios__label" for="what-incoming">
                        Someone contacted us about the claim
                      </label>
                    </div>
  
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="what-event" name="what" type="radio" value="event" {{ checked("what", "event") }}>
                      <label class="govuk-label govuk-radios__label" for="what-event">
                        The claim has changed
                      </label>
                    </div>
  
                   
                    </div>
                  </fieldset>
  
        <br>
                <button class="govuk-button" >Save and continue</button>
        
              </form>
  
                   
                   
              
                    </div>
                  </div>
              
               
              </div>
        </div>

    </main>
  </div>


{% endblock %}
