{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "assessment-overview"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

  <form action="assessment-status" method="post" id="question-form" novalidate>



  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
            How are you conducting this assessment?</h1>
      </legend>

       <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="telephone" name="assessmenttype" value="Telephone"  type="radio" aria-describedby="sign-in-2-item-hint" >
           <label class="govuk-label govuk-radios__label" for="telephone">
             Telephone
           </label>
         </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="nolcwra" name="assessmenttype"   type="radio" value="facetoface">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
           Face to face
          </label>
        </div>


          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nolcwra" name="assessmenttype"  type="radio" value="On paper">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
               On paper
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="video-call" name="assessmenttype"   type="radio" value="Video call">
              <label class="govuk-label govuk-radios__label" for="video-call">
                Video call
              </label>
            </div>

      </div>
    </fieldset>

  </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</main>
</div>




{% endblock %}
