{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govukBackLink({
                  text: "Back",
                  href: "assessment-status"
                }) }}

                <h1 class="govuk-heading-xl">Planning and following journeys</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

            <form action="review" method="post">

              {{ govukTextarea({
                name: "journeysNotes",
                id: "journeysNotes",
                rows: "8",
                classes: "govuk-!-margin-bottom-9",
                label: {
                  text: "Notes on planning and following journeys",
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                value: data['journeysNotes']
              }) }}


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Which of these describes how well the claimant can plan and follow journeys?
                    </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="journeysSelect" name="journeysSelect" type="radio" value="Can plan and follow the route of a journey unaided">
                      <label class="govuk-label govuk-radios__label" for="journeysSelect">
                          Can plan and follow the route of a journey unaided
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="journeysSelect-2" name="journeysSelect" type="radio" value="Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                      <label class="govuk-label govuk-radios__label" for="journeysSelect-2">
                          Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="journeysSelect-3" name="journeysSelect" type="radio" value="Cannot plan the route of a journey">
                      <label class="govuk-label govuk-radios__label" for="journeysSelect-3">
                          Cannot plan the route of a journey
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="journeysSelect-4" name="journeysSelect" type="radio" value="Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                      <label class="govuk-label govuk-radios__label" for="journeysSelect-4">
                          Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="journeysSelect-5" name="journeysSelect" type="radio" value="Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                        <label class="govuk-label govuk-radios__label" for="journeysSelect-5">
                            Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="journeysSelect-6" name="journeysSelect" type="radio" value="Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                          <label class="govuk-label govuk-radios__label" for="journeysSelect-6">
                              Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                          </label>
                        </div>


                  </div>

                </fieldset>
              </div>


                    {{ govukTextarea({
                      name: "journeysReason",
                      id: "journeysReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--m",
                        isPageHeading: false
                      },
                      value: data['journeysReason']
                    }) }}

                    {{ govukButton({
                      text: "Save"
                    }) }}
                </ul>



            </form>



            </div>

            <div class="govuk-grid-column-one-third">

            </div>

        </div>

    </main>
  </div>
{% endblock %}
