{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "assessment-status"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">



            <form action="assessment-status" method="post">


              <h1 class="govuk-heading-xl">Additional attendees</h1>

              <h2 class="govuk-heading-m">Attendee 1</h2>
              {{ govukInput({
                label: {
                  text: "Name"
                },
                id: "attendeename",
                name: "attendeename"
              }) }}

              {{ govukInput({
                label: {
                  text: "Relationship to claimant"
                },
                id: "attendee-relationship",
                name: "attendee-relationship"
              }) }}

              <hr class="govuk-!-margin-bottom-5">

              <p><a class="govuk-link" href="add-attendees-two">Add another attendee</a></p>


              {{ govukButton({
                text: "Save"
              }) }}


            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
