{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

    {{ govukBackLink({
      text: "Back",
      href: "review"
    }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                
                    <h1 class="govuk-heading-xl">
                      Submit report?
                    </h1>

                  <a href="https://health-referral-status.herokuapp.com/state-model-mvp/v1/update-status" class="govuk-button">Submit</a>
        </div>
</div>


    </main>
  </div>
{% endblock %}
