{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "physical-functions"
      }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Staying conscious when awake</h1>

              <form action="physical-functions" method="post">

                {{ govukRadios({
                  idPrefix: "stayingconsciousSelect",
                  name: "stayingconsciousSelect",
                  fieldset: {
                    legend: {
                      text: "How often does Jayne lose consciousness because of fainting, seizures or blackouts?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                    {
                      value: "At least once a week",
                      text: "At least once a week"
                    },
                    {
                      value: "At least once a month",
                      text: "At least once a month"
                    },
                    {
                      value: "None of the above",
                      text: "None of the above"
                    }
                  ]
                }) }}
              
                    {{ govukTextarea({
                        name: "stayingconsciousdetails",
                        id: "stayingconsciousdetails",
                        label: {
                          text: "Give details",
                          classes: "govuk-label--s",
                          isPageHeading: true
                        },
                        value: data['stayingconsciousdetails']
                      }) }}

                      {{ govukButton({
                        text: "Save"
                      }) }}

            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
