{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      {{ govukBackLink({
        text: "Back",
        href: "assessment-overview"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Treat as limited capability for work (LCW)</h1>

  <form action="time-review" method="post" id="question-form" novalidate>

      {{ govukRadios({
        idPrefix: "lcwra",
        name: "treataslcw",
        fieldset: {
          legend: {
            text: "Why does the claimant have limited capability for work (LCW)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Terminal illness",
            text: "Terminal illness"
          },
          {
            value: "Serious risks associated with pregnancy",
            text: "Serious risks associated with pregnancy"
          },
          {
            value: "Chemotherapy or radiotherapy",
            text: "Chemotherapy or radiotherapy"
          },
          {
            value: "Substantial risk (mental or physical)",
            text: "Substantial risk (mental or physical)"
          },
          {
            value: "Enactment",
            text: "Enactment"
          },
          {
            value: "Infectious disease",
            text: "Infectious disease"
          },
          {
            value: "Hospital in-patient",
            text: "Hospital in-patient"
          },
          {
            value: "Regular treatment",
            text: "Regular treatment"
          },
          {
            value: "Life threatening disease",
            text: "Life threatening disease"
          },
          {
            value: "Disability",
            text: "Disability"
          },
          {
            value: "Residential rehabilitation for drugs/alcohol",
            text: "Residential rehabilitation for drugs/alcohol"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "treat-as-give-reasons",
        id: "treataslcwreasons",
        label: {
          text: "What are the reasons for this?",
          classes: "govuk-label--s",
          isPageHeading: false
        }
      }) }}


</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</main>
</div>





{% endblock %}
