{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Assessment overview</h1>

              <ul class="app-task-list">
                  <li>
                    <h2 class="app-task-list__section">
                      Assessment
                    </h2>
                    <ul class="app-task-list__items govuk-!-padding-left-0">
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                                {% if data['attendeename'] %}
                              <a href="add-attendees-two" aria-describedby="read-declaration-status">
                                  Additional attendees
                              </a>
                              {% else %}
                              <a href="add-attendees" aria-describedby="read-declaration-status">
                                  Additional attendees
                              </a>
                              {% endif %}
                            </span>
                            <script type="text/javascript">
                              var attendeename = {{data.attendeename|dump|safe}}
                              console.log(attendeename)
                              if (attendeename) {
                                var progress = "1";
                                document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>');
                                }
                              else {
                                document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                              }
                            </script>
                          </li>
                         
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="condition-history" aria-describedby="eligibility-status">
                            Condition history
                          </a>
                        </span>
                        <script type="text/javascript">
                          var conditionhistory = {{data.conditionhistory|dump|safe}}
                          console.log(conditionhistory)
                          if (conditionhistory) {
                            var progress = "1";
                            document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>');
                            }
                          else {
                            document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                          }
                        </script>
                      </li>
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          {% if data['input-autocomplete'] %}
                        <a href="medication-two" aria-describedby="read-declaration-status">
                            Medication and side effects
                        </a>
                        {% else %}
                        <a href="medication-one" aria-describedby="read-declaration-status">
                          Medication and side effects
                        </a>
                        {% endif %}
                      </span>
                      {% if data['input-autocomplete'] %}
                          <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                          {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
                            {% endif %}
                      </li>
                      <li class="app-task-list__item">
                          <span class="app-task-list__task-name">
                            <a href="social-and-work" aria-describedby="read-declaration-status">
                              Social and work history
                            </a>
                          </span>
                          <script type="text/javascript">
                            var socialandwork = {{data.socialandwork|dump|safe}}
                            console.log(socialandwork)
                            if (socialandwork) {
                              var progress = "1";
                              document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>');
                              }
                            else {
                              document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                            }
                          </script>
                        </li>
                        <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="typical-day" aria-describedby="read-declaration-status">
                                Typical day
                              </a>
                            </span>
                            <script type="text/javascript">
                              var typicalday = {{data.typicalday|dump|safe}}
                              console.log(typicalday)
                              if (typicalday) {
                                var progress = "1";
                                document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>');
                                }
                              else {
                                document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                              }
                            </script>
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="evidence-used" aria-describedby="eligibility-status">
                                Evidence
                              </a>
                            </span>
                            <script type="text/javascript">
                              var evidenceused = {{data.evidenceused|dump|safe}}
                              console.log(evidenceused)
                              if (evidenceused) {
                                var progress = "1";
                                document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>');
                                }
                              else {
                                document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                              }
                            </script>
                          </li>
                        </ul>

                    <!---
                        {% if data['assessmenttype'] == "inperson" %}
                            <h2 class="app-task-list__section">
                              Detailed physical examination
                            </h2>

                            <ul class="app-task-list__items govuk-!-padding-left-0">
                              <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                  <a href="physical-assessments/physical-assessment" aria-describedby="read-declaration-status">
                                    Physical examination
                                  </a>
                                </span>
                                <script type="text/javascript">
                                  var consent = {{data.consent|dump|safe}}
                                  console.log(consent)
                                  if (consent == 'consent') {
                                    var progress = "1";
                                    document.write('<strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">In progress</strong>');
                                    }
                                  else {
                                    document.write('<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>');
                                  }
                                </script>
                                </li>
                    </ul>
                    {% endif %}

                  -->

                    <h2 class="app-task-list__section">
                      Functions and capabilities
                    </h2>
                    <ul class="app-task-list__items govuk-!-padding-left-0">

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="descriptors/physical-functions" aria-describedby="read-declaration-status">
                        Physical functions
                      </a>
                    </span>
                    {% if data['mobilisingSelect'] %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                    {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
                    {% endif %}
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="descriptors/mental-capabilities" aria-describedby="read-declaration-status">
                          Mental, cognitive and intellectual capabilities
                        </a>
                      </span>
                      {% if data['learningtasksSelect'] %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
                      {% endif %}
                      </li>

                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="descriptors/eating-drinking" aria-describedby="read-declaration-status">
                            Eating and drinking
                          </a>
                        </span>
                        {% if data['eatingSelect'] %}
                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% else %}
                          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
                        {% endif %}
                        </li>
            </ul>



                  </li>

                </ul>

                <h2 class="app-task-list__section">
                  Ending the assessment
                </h2>
                <ul class="app-task-list__items govuk-!-padding-left-0">

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="abandon" aria-describedby="read-declaration-status">
                    Abandon the assessment
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                </li>

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="lcw" aria-describedby="read-declaration-status">
                      Limited capability for work (LCW)
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                  </li>

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="lcwra" aria-describedby="read-declaration-status">
                      Limited capability for work-related activity (LCWRA)
                      </a>
                    </span>

                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="fit-for-work" aria-describedby="read-declaration-status">
                        Fit for work
                        </a>
                      </span>

                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Optional</strong>
                      </li>


        </ul>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
