{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

    <div id="assess-head">
        <div class="govuk-width-container">
            <div class="govuk-grid-row govuk-!-padding-bottom-2">
                <div class="govuk-grid-column-two-thirds"> 
                    <h1 class="govuk-heading-xl claimant-name white">Jayne Smith </h1><h2 class="govuk-heading-m claimant-ni white">QQ 12 34 56 X</h2>       
                </div>
                <div class="govuk-grid-column-one-third"> 
                  <p class="govuk-body-s assessment-status">Assessment in progress</p>         
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                   <hr class="govuk-!-margin-bottom-2 govuk-!-margin-top-0"> 
                   <p class="claimant-dob govuk-!-margin-bottom-0 white">Claimant date of birth: 31st December 1999</p>
              </div>
            </div>
    </div>
  </div>

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              
                <form action="history">

                        <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                      Has the purpose and nature of the assessment been explained to Jayne?
                                    </h1>
                                  </legend>
                                  
                                  <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                                      <label class="govuk-label govuk-radios__label" for="changed-name">
                                        Yes
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        No
                                      </label>
                                    </div>
                                  </div>
                              
                                </fieldset>
                              </div>

                              {{ govukButton({
                                text: "Save and continue"
                              }) }}

                </form>
              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
