
{% extends "layout.html" %}

{% block pageTitle %}
    Assessment Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Assessment Service
        <span class="govuk-caption-xl">Team Royal Blue</span>
      </h1>

      <h2 class="govuk-heading-l">Most recent prototypes</h2>

      <h4 class="govuk-heading-m"><a href="pip-version-0-3/">PIP Version 0.3</a></h4>
        <p>This prototype builds on v2 (PROBE question set) and works towards getting something in place we can test, and that will build with Lime capabilities and components.</p>
       
        <p>Tickets:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-266">HTRB-266</a>, Consent for physical assessment.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-270">HTRB-270</a>, Split musculoskeletal and mental state.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-270">HTRB-273</a>, Abandon assessment.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-275">HTRB-275</a>, add additional attendees.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-277">HTRB-277</a>, removed the passing of assessment notes and the secondary nav as they are not MVP.</li>
          </ul>
          

        <h4 class="govuk-heading-m"><a href="wca-version-0-2/">WCA Version 0.2</a></h4>
        <p>Second iteration of prototype based on CAS screenshots and discussion with Team Royal Blue and Team Lime.</p>

        <p>Tickets:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-274">HTRB-274</a>, amend and complete abandoned assessment journey.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-276">HTRB-276</a>, updated additional attendees based on lime designsindex.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-278">HTRB-278</a>, removed the secondary nav as component not available for MVP.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-280">HTRB-280</a>, moved consent for physical assessment to be inside physical assessment task list (see notes on JIRA ticket).</li>
          </ul>


          <hr>

        <h2 class="govuk-heading-l">Past prototypes</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-7">PIP Assessment prototypes</h3>

        <h4 class="govuk-heading-s"><a href="pip-version-0-2/">PIP Version 0.2 (PROBE questions)</a></h4>
        <p>This prototype includes all of the questions from the PROBE v 3 document, and the scoring questions stated in the legislation. It works though the initial questions, which are then checked and confirmed before the assessor can do the scoring (done after the claimant has left).</p>
       
        <p>Notes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Research from Team Lime informed the choice of task lists for navigation, inline with GDS patterns. Left hand navigation was preferred by assessors however they also lost work because of the way it works, they were not realising the need to save answers. They could all use the task list without losing data, and no one had any problems with it. We think the task list is the viable choice for April, with the potential to further research and test left hand navigation if necessary for the future.</li>
            <li>All inputs during the assessment are free text, with the exception of those legislated for scoring. This will be iterated in the next iteration to break them down and give built in structure where needed, and generate better quality data in return.</li>
            <li>The guidance from the Probe document is shown underneath the free text fields.</li>
            <li>The notes taken with the claimant present are displayed back to the assessor while they do the scoring questions for reference.</li>
          </ul>


          <h3 class="govuk-heading-m">WCA Assessment prototypes</h3>
          <h4 class="govuk-heading-s"><a href="wca-version-0-1/">WCA Version 0.1</a></h4>
          <p>Prototype based on CAS screenshots and discussion with Team Royal Blue and Team Lime.</p>
  
    </div>
  </div>

{% endblock %}
