
{% extends "layout.html" %}

{% block pageTitle %}
    Assessment Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Assessment Service
        <span class="govuk-caption-xl">Team Royal Blue</span>
      </h1>
      <h2 class="govuk-heading-l">Post-MVP versions</h2>

      <h4 class="govuk-heading-m"><a href="wca-version-0-6/">WCA version 0.6</a></h4>

        <p>This version has changes to be developed after the MVP has gone into private beta.</p>

      <p>Tickets:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-458">HTRB-458</a>, Additional attendee content</li>
        </ul>


      <h4 class="govuk-heading-m"><a href="pip-version-0-6/">PIP version 0.6</a></h4>
        <p>This version has changes to be developed after the MVP has gone into private beta.</p>

        <p>Tickets:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-458">HTRB-458</a>, Additional attendee content</li>
          </ul>



          <hr>
          <h2 class="govuk-heading-l">MVP versions</h2>

          <h4 class="govuk-heading-m"><a href="wca-version-0-5/">WCA Version 0.5</a></h4>

          <p>Description.</p>

          <p>Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-483">HTRB-483</a>, Design alternate LCW/LCWRA ending for test</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-485">HTRB-485</a>, Create the 'why do you need to abandon the assessment' page</li>
            </ul>


          <h4 class="govuk-heading-m"><a href="pip-version-0-5/">PIP Version 0.5</a></h4>
            <p>This prototype is versioned for training use in Tresco.</p>

            <p>Tickets:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-418">HTRB-418</a>, Change musculoskeletal to physical health.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-419">HTRB-419</a>, Add a notes option on descriptor pages.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-420">HTRB-420</a>, Add a time review page.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-422">HTRB-422</a>, Remove guidance from PIP prototype pages.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-423">HTRB-423</a>, Change ordering of pages in assessment overview.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-424">HTRB-424</a>, Physical function restriction.</li>
                <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-485">HTRB-485</a>, Create the 'why do you need to abandon the assessment' page</li>
              </ul>

          <hr>

        <h2 class="govuk-heading-l">Past prototypes</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-7">PIP Assessment prototypes</h3>

        <h4 class="govuk-heading-m"><a href="pip-version-0-4/">PIP Version 0.4</a></h4>
        <p>This prototype is versioned for training use in Tresco.</p>

        <p>Tickets:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-369">HTRB-369</a>, Combining the “interactive” and “write up” parts of the PIP assessment.</li>
          </ul>


        <h4 class="govuk-heading-m"><a href="pip-version-0-3/">PIP Version 0.3</a></h4>
        <p>This prototype builds on v2 (PROBE question set) and works towards getting something in place we can test, and that will build with Lime capabilities and components.</p>

        <p>Tickets:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-266">HTRB-266</a>, Consent for physical assessment.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-270">HTRB-270</a>, Split musculoskeletal and mental state.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-270">HTRB-273</a>, Abandon assessment.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-275">HTRB-275</a>, add additional attendees.</li>
            <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-277">HTRB-277</a>, removed the passing of assessment notes and the secondary nav as they are not MVP.</li>
             <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-339">HTRB-339</a>, Expand size of text areas for usability.</li>
             <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-385">HTRB-385</a>, Update PIP Prototype to remove personalisations</li>
          </ul>

        <h4 class="govuk-heading-s"><a href="pip-version-0-2/">PIP Version 0.2 (PROBE questions)</a></h4>
        <p>This prototype includes all of the questions from the PROBE v 3 document, and the scoring questions stated in the legislation. It works though the initial questions, which are then checked and confirmed before the assessor can do the scoring (done after the claimant has left).</p>

        <p>Notes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Research from Team Lime informed the choice of task lists for navigation, inline with GDS patterns. Left hand navigation was preferred by assessors however they also lost work because of the way it works, they were not realising the need to save answers. They could all use the task list without losing data, and no one had any problems with it. We think the task list is the viable choice for April, with the potential to further research and test left hand navigation if necessary for the future.</li>
            <li>All inputs during the assessment are free text, with the exception of those legislated for scoring. This will be iterated in the next iteration to break them down and give built in structure where needed, and generate better quality data in return.</li>
            <li>The guidance from the Probe document is shown underneath the free text fields.</li>
            <li>The notes taken with the claimant present are displayed back to the assessor while they do the scoring questions for reference.</li>
          </ul>


          <h3 class="govuk-heading-m">WCA Assessment prototypes</h3>

          <h4 class="govuk-heading-m"><a href="wca-version-0-4/">WCA Version 0.4</a> / <a href="wca-version-0-4-alt/">WCA Version 0.4 (Alternate 'treat as')</a></h4>

      <p>Description.</p>

      <p>Tickets:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-398">HTRB-398</a>, Update WCA Prototype to reflect lack of conditional navigation component</li>
          <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-385">HTRB-385</a>, Update WCA Prototype to remove personalisations</li>
          <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-400">HTRB-400</a>, Allow treat as LCW in WCA</li>
        </ul>


          <h4 class="govuk-heading-s"><a href="wca-version-0-3a/">WCA Version 0.3 (alternate)</a></h4>
          <p>Third iteration of prototype combining the 'interactive' and 'reporting' sections into one user journey.</p>

          <h4 class="govuk-heading-s"><a href="wca-version-0-3/">WCA Version 0.3</a> / <a href="wca-version-0-3b/">WCA Version 0.3b (remove MH)</a></h4>
          <p>Third iteration of prototype based on user research and mock assessments with HCPs.</p>

          <p>Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-315">HTRB-315</a>, record assessment type.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-337">HTRB-337</a>, clarify curtail, abandon and finish options.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-338">HTRB-338</a>, expand size of textareas for usability WCA prototype.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-343">HTRB-343</a>, Remove 'Physical assessment' questions from assessments not conducted in person.</li>
            </ul>

          <h4 class="govuk-heading-s"><a href="wca-version-0-2/">WCA Version 0.2</a></h4>
          <p>Second iteration of prototype based on CAS screenshots and discussion with Team Royal Blue and Team Lime.</p>

          <p>Tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-274">HTRB-274</a>, amend and complete abandoned assessment journey.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-276">HTRB-276</a>, updated additional attendees based on lime designsindex.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-278">HTRB-278</a>, removed the secondary nav as component not available for MVP.</li>
              <li><a href="https://jira.service.dwpcloud.uk/browse/HTRB-280">HTRB-280</a>, moved consent for physical assessment to be inside physical assessment task list (see notes on JIRA ticket).</li>
            </ul>

          <h4 class="govuk-heading-s"><a href="wca-version-0-1/">WCA Version 0.1</a></h4>
          <p>Prototype based on CAS screenshots and discussion with Team Royal Blue and Team Lime.</p>

    </div>
  </div>

{% endblock %}
