{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <!-- <div class="navigation-header">
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
          <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
        </ul>
      </div>--> 

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

        <div class="govuk-grid-row">

          

            <div class="govuk-grid-column-two-thirds">

              <form action="index" method="post">



              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
  
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                
                  <h1 class="govuk-fieldset__heading">
                    Was this contact today?
                  </h1>
                
                </legend>
                
              
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="Yes" aria-controls="conditional-contact" aria-expanded="false">
                        <label class="govuk-label govuk-radios__label" for="contact">
                      Yes
                    </label>
                        
                      </div>
                      
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="time">
                              Time of contact
                            </label>      
                            <div id="time-hint" class="govuk-hint">
                              For example, 12:30pm
                            </div>          
                          <input class="govuk-input govuk-!-width-one-third" id="time" name="time" type="text" aria-describedby="time-hint" autocomplete="off">
                          </div>
      
                        </div>
                    
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="No" aria-controls="conditional-contact-2" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                          No
                        </label>                      
                      </div>
                      
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="date">
                              Date of contact
                            </label>
                          
                          <input class="govuk-input govuk-!-width-one-third" id="date" name="date" type="date">
                          </div>  
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="time2">
                              Time of contact
                            </label>      
                            <div id="time-hint" class="govuk-hint">
                              For example, 12:30pm
                            </div>          
                          <input class="govuk-input govuk-!-width-one-third" id="time2" name="time2" type="text" aria-describedby="time-hint" value="{{ data['time2'] }}" autocomplete="off">
                          </div>         
                      </div>
                </div>

                <div class="hidden-radio-post">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="log-show" name="log" type="radio" value="log" {{ checked("log", "show") }}checked>
                      <label class="govuk-label govuk-radios__label" for="log-show">
                     Hidden radio = show on interaction log
                      </label>
                    </div>
                  </div>
            </div>

              </fieldset>
              </div>

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

            </div>
        </div>

    </main>
  </div>
{% endblock %}
